{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Referidos WSP</title>
    <!-- font do google -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- Estilo bootstrap por cdn -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    
    <div class="col-md-8">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>