{% extends 'referidos/base.html' %}

{% block content %}

<div id="textostatus">
  {% for referido in referidos %}
  <p style="display:none;">{{ referido.status }}</p>
  {% endfor %}
</div>

{% if referidos %}

<ul class="list-group">
  <li class="list-group-item">Total de Referidos: {{ referidos|length }}</li>
  <li class="list-group-item">Para iniciar: <span id='ini'></span></li>
  <li class="list-group-item">Ligação 1: <span id='lig1'></span></li>
  <li class="list-group-item">Ligação 2: <span id='lig2'></span></li>
  <li class="list-group-item">Ligação 3: <span id='lig3'></span></li>
  <li class="list-group-item">Mandar áudio: <span id='maud'></span></li>
  <li class="list-group-item">Áudio enviado: <span id='aud'></span></li>
  <li class="list-group-item">Agendado: <span id='agen'></span></li>
  <li class="list-group-item">Mandar texto: <span id='mtext'></span></li>
  <li class="list-group-item">Texto enviado: <span id='text'></span></li>
  <li class="list-group-item">Não venda: <span id='nven'></span></li>
  <li class="list-group-item">Matrícula: <span id='ven'></span></li>
</ul>
{% endif %}
{% endblock %}
