{% extends 'referidos/base.html' %}

{% block content %}
<div id="textostatus">
  {% for referido in referidos %}
  <p style="display:none;">{{ referido.status }}</p>
  {% endfor %}
</div>
{% if referidos %}
<h2 style="color: #1f1fa9;">Total de Referidos: {{ referidos|length }}</h2>
<div class="alert alert-primary" role="alert">
  Iniciar: <span id='ini'></span>
</div>

<div class="alert alert-secondary" role="alert">
  1ª Ligação: <span id='lig1'></span>
</div>

<div class="alert alert-secondary" role="alert">
  2ª Ligação: <span id='lig2'></span>
</div>

<div class="alert alert-secondary" role="alert">
  3ª Ligação: <span id='lig3'></span>
</div>

<div class="alert alert-warning" role="alert">
  Mandar áudio: <span id='maud'></span>
</div>

<div class="alert alert-warning" role="alert">
  Áudio enviado: <span id='aud'></span>
</div>

<div style="background: #964f9b; color: white;" class="alert alert-info" role="alert">
  Agendado: <span id='agen'></span>
</div>

<div class="alert alert-info" role="alert">
  Mandar texto: <span id='mtext'></span>
</div>

<div class="alert alert-info" role="alert">
  Texto enviado: <span id='text'></span>
</div>

<div class="alert alert-danger" role="alert">
  Não venda: <span id='nven'></span>
</div>

<div class="alert alert-success" role="alert">
  Matrícula: <span id='ven'></span>
</div>
{% endif %}
{% endblock %}
