{% extends 'referidos/base.html' %}

{% block content %}
    Abrir link <a href="https://wup.onl/0033600001XBgGmAAL" target="_blank">https://wup.onl/0033600001XBgGmAAL</a>
    <br><br>
    <textarea cols="10" rows="1" class="link-text form-control">https://wup.onl/0033600001XBgGmAAL</textarea>
    <button class="btn btn-primary" id="copiar"><i class="far fa-clone"></i></button>
    <br><br>


    <h4>Links pós matrícula</h4> <br>
    <textarea name="" id="" cols="30" rows="10" class="text form-control">
    *Parabéns, seu acesso anual foi efetivado, seja bem-vindo(a) à Wise Up Online!* 👏🎉

    *App Android:* https://play.google.com/store/apps/details?id=com.wiseup.online.android&hl=en&gl=US

    *App IOS:* https://apps.apple.com/br/app/wise-up-online/id1476457267

    *Site para Notebook, Smart TV e Computador:* https://online.wiseup.com/login?lang=pt

    *Chat VIP do aluno (dúvidas técnicas e administrativas):* https://wiseup.com/faq/online/chat/
    </textarea>

    <button class="btn btn-primary" id="copy"><i class="far fa-clone"></i></button>
    <br><br>
    <hr>
    <h4>Referidos - Validação</h4> <br>
    <p style="color: blue;">Para quem matriculou</p> <textarea name="" id="" cols="30" rows="1" class="link-text-1 form-control">bit.ly/3vl6rQR</textarea>
    <button class="btn btn-primary" id="copiar1"><i class="far fa-clone"></i></button>
    <br> <br>
    <p style="color: orange;">Para quem Não matriculou</p> <textarea name="" id="" cols="30" rows="1" class="link-text-2 form-control">bit.ly/3vo2NWu</textarea>
    <button class="btn btn-primary" id="copiar2"><i class="far fa-clone"></i></button>
<script>
let btn = document.querySelector('#copy');
btn.addEventListener('click', function(e) {
  let textArea = document.querySelector('.text');
  textArea.select();
  document.execCommand('copy');

});

let button = document.querySelector('#copiar');
button.addEventListener('click', function(e) {
  let textArea = document.querySelector('.link-text');
  textArea.select();
  document.execCommand('copy');

});

let button1 = document.querySelector('#copiar1');
button1.addEventListener('click', function(e) {
  let textArea = document.querySelector('.link-text-1');
  textArea.select();
  document.execCommand('copy');

});

let button2 = document.querySelector('#copiar2');
button2.addEventListener('click', function(e) {
  let textArea = document.querySelector('.link-text-2');
  textArea.select();
  document.execCommand('copy');

});


</script>

{% endblock %}

