{% extends 'referidos/base.html' %}

{% block content %}

    <p>Meu link de vendas</p>
    <a href="https://wup.onl/0033600001XBgGmAAL" target="_blank">Wiseup Online <i class="fas fa-share-alt"></i></a>
    <br><br>

    <h4>Links para enviar depois da matrícula</h4> <br>
    <p>*Parabéns, seu acesso anual foi efetivado, seja bem-vindo(a) à Wise Up Online!* 👏🎉 <br>
    <p>*App Android:* 
        <a href="https://play.google.com/store/apps/details?id=com.wiseup.online.android&hl=en&gl=US">
            https://play.google.com/store/apps/details?id=com.wiseup.online.android&hl=en&gl=US
        </a>
    </p>

    <p>*App IOS:* 
        <a href="https://apps.apple.com/br/app/wise-up-online/id1476457267">
            https://apps.apple.com/br/app/wise-up-online/id1476457267
        </a>
    </p>

    <p>*Site para Notebook, Smart TV e Computador:*
        <a href="https://online.wiseup.com/login?lang=pt">
            https://online.wiseup.com/login?lang=pt
        </a>
    </p>

    <p>*Chat VIP do aluno (dúvidas técnicas e administrativas):* 
        <a href="https://wiseup.com/faq/online/chat/">
            https://wiseup.com/faq/online/chat/
        </a>
    </p>
    <br>
    <h4>Referidos - Validação</h4>
    <p>Para quem matriculou <a href="https://bit.ly/3vl6rQR" target="_blank">bit.ly/3vl6rQR</a></p>
    <p>Para quem Não matriculou <a href="https://bit.ly/3vo2NWu" target="_blank">bit.ly/3vo2NWu</a></p>

{% endblock %}

