{% extends 'referidos/base.html' %}

{% block content %}
    <h3>Alguns itens importantes para a matrícula</h3>
    <p>Meu link de vendas</p>
    <a href="https://wup.onl/0033600001XBgGmAAL" target="_blank">https://wup.onl/0033600001XBgGmAAL</a>

    <h3>Links para enviar depois da matrícula</h3>
    <p>*Parabéns, seu acesso anual foi efetivado, seja bem-vindo(a) à Wise Up Online!* 👏🎉 <br>
    <p>*App Android:* https://play.google.com/store/apps/details?id=com.wiseup.online.android&hl=en&gl=US</p>

    <p>*App IOS:* https://apps.apple.com/br/app/wise-up-online/id1476457267</p>

    <p>*Site para Notebook, Smart TV e Computador:* https://online.wiseup.com/login?lang=pt</p>

    <p>*Chat VIP do aluno (dúvidas técnicas e administrativas):* https://wiseup.com/faq/online/chat/</p>

    <p>*IMPORTANTE LER:*</p>

    <p>*Política de privacidade:*  <a href="https://wiseup.com/politica-de-privacidade/">https://wiseup.com/politica-de-privacidade/</a></p>

    <p>*Termos de acesso:* <a href="https://wiseup.com/checkout/termos-de-servico/">https://wiseup.com/checkout/termos-de-servico/</a></p>

{% endblock %}

