{% extends 'referidos/base.html' %}

{% block content %}

{% if referidos %}
<p>Total Referidos: {{ referidos|length }}</p>
{% endif %}

<!--Chama o modal e salva referido-->
<div class="new">   
    <a class="btn btn-info" href="referidos/new" data-toggle="modal" data-target="#exampleModal" role="button">
        <i class="fas fa-plus-circle"></i
    ></a>
</div>

{% for referido in referidos %}
<div class="card text-white bg-dark mb-3">
    <div class="card-body">
        <div class="row">
        <div class="col" style="color: #E5E4E2;">{{ referido.nome }}</div>
        <div class="col"><a href="https://wa.me/{{ referido.telefone }}" target="_blank">Whatsapp</a></div>
        <div class="col" style="color: #848884; font-size:15px;">Indicação: {{ referido.quem_indicou }}</div>
        <div class="col">
            {% if referido.prioridade == True %}
            <p class="good">Prioridade: <i class="fas fa-check-circle"></i>  </p>
            {% else %}
            <p class="neutral">Prioridade: <i class="far fa-circle"></i> </p>
            {% endif %}
        </div>
        <div class="col"><p data-status="{{ referido.status }}" class="status">{{ referido.status }} </p></div>
        <div class="col">
            <a href="{% url 'referido_edit' pk=referido.pk %}" class="btn btn-outline-info"  role="button">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </div>
    </div>
    </div>
</div>
<br>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Referido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" class="" action="referidos/new">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="save btn btn-outline-info">Salvar</button>
    </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
