{% extends 'referidos/base.html' %}

{% block content %}
{% for referido in referidos %}
<div class="card">
    <div class="card-body">
        <p>Quem indicou: {{ referido.quem_indicou }}</p>
        <p>Nome: {{ referido.nome }} </p>
        <p> <a href="https://wa.me/{{ referido.telefone }}" target="_blank">Whatsapp</a> </p>
        <p>Prioridade: {{ referido.prioridade }} </p>
        <p>Status: {{ referido.status }} </p>
        <p><a href="{% url 'referido_edit' pk=referido.pk %}" class="btn btn-outline-info" role="button">Editar</a></p>
    </div>
</div>
<br>
{% endfor %}
<div>   
    
</div>
{% endblock %}
